<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Scorecards1</title>
    <link href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <table class="table">
            <h2>Scorecards2</h2>
            <tr>
                <th>Round</th>
                <th>Date</th>
                <th>Course</th>
                <th>Score</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Handicap</th>
            </tr>
            <tr th:each="scorecard : ${scorecards}">
                <td th:text="${scorecard.id}">Round</td>
                <td th:text="${scorecard.date_played}">Date</td>
                <td th:text="${scorecard.course}">Course</td>
                <td th:text="${scorecard.score}">Score
                <td><a class="btn btn-default" href="#" th:href="${'/golf/scorecard/' + scorecard.id}">View</a> </td>
                <td><a class="btn btn-default" href="#" th:href="${'/golf/scorecard/edit/' + scorecard.id}">Edit</a> </td>
                <td><a class="btn btn-default" href="#" th:href="${'/golf/scorecard/delete/' + scorecard.id}">Delete</a> </td>
                 
            </tr>
        </table>
        <a th:href="${'/golf/scorecard/new'}" class="btn btn-default">New</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>